{% extends 'base.html' %}
{% block body %}
<form action='{% url "movies:edit" movie.id %}' method='POST'>
    {% csrf_token %}
    제목:<input type="text" name="title" value="{{movie.title}}"> <br>
    제목(영문):<input type="text" name="title_en" value="{{movie.title_en}}"><br>
    관객수:<input type="number" name="audience" value="{{movie.audience}}"><br>
    개봉일:<input type="date" name="open_date" value="{{movie.open_date|date:'Y-m-d'}}"><br>
    장르:<input type="text" name="genre" value="{{movie.genre}}"><br>
    관람등급:<input type="text" name="watch_grade" value="{{movie.watch_grade}}"><br>
    평점:<input type="number" name="score" value="{{movie.score}}"><br>
    포스터URL:<input type="text" name="poster_url" value="{{movie.poster_url}}"><br>
    요약:<textarea name="description" id="" cols="30" rows="10">{{movie.description}}</textarea>
    <input type='submit'>
</form>
{% endblock %}